<div class="root">
	<div class="top-section">
		<header>
			<button class="back-arrow" (click)="location.back()">
				<img src="assets/img/buttons/back_grey.png" alt="back" />
			</button>
			<div class="about-title">About</div>
		</header>

		<div class="description">
			Swapacrop is a global community of passionate growers and consumers. We
			believe that the most nutritious foods are the ones grown closest to you
			and not trucked or sent on a ship from thousands of miles away.
			<br /><br />
			It is our mission to improve the overall health and wellbeing of
			communities one crop at a time.
		</div>
	</div>

	<img class="bottom-illustration" src="/assets/img/about/123.png" />
</div>
