@use "src/styles/helpers";
@use "src/styles/variables";
@use "../auth-styles.scss";
:host {
	display: block;
	position: relative;
	height: 100%;

	// we need this here because login to continue screen will not be shown within the auth-container which already has these styles
	@include auth-styles.auth-text-field-styles;

	button.top-right-button {
		::ng-deep > svg {
			height: 17px;
			width: 17px;
			fill: variables.$main-brown-color;
		}
	}

	.form-auth {
		padding: 0.02px;
		display: grid;
		gap: 10px;
		color: white;

		> .bottom-link {
			justify-self: start;
			text-decoration: underline;
			color: white;
			font-size: 16;
			font-weight: 200;
		}
	}
}
