<app-back-button-and-title-header
	[title]="'Terms and conditions'"
></app-back-button-and-title-header>

<div class="content">
	<p>
		By purchasing items or offering items for sale on the Swapacrop Marketplace
		via&nbsp;www.swapacrop.com&nbsp;you are bound by the following terms and
		conditions.
	</p>
	<p>General</p>
	<ul>
		<li>
			AGG AFINIT Global Group Ltd. (AFINIT) provides the Swapacrop Marketplace
			and services so that you can buy and sell items with other Swapacrop
			customers. Swapacrop is not a party to these transactions, and cannot be
			held liable in any way for the quality or condition of items, delivery
			times or warranties.
		</li>
		<li>
			AFINIT is not liable to you or any other person for anything in connection
			with any aspect of the Swapacrop Marketplace or your use of it. In
			particular, AFINIT is not liable to you or any other person on any basis
			for any loss or damage caused to you directly or indirectly by use of the
			Swapacrop Marketplace.
		</li>
		<li>
			AFINIT makes no representations or warranties about any aspect of any
			item, listing or seller on the Swapacrop Marketplace.
		</li>
		<li>
			AFINIT takes no responsibility for any system unavailability, or for any
			loss or damage that is incurred as a result of the Swapacrop Marketplace
			or Swapacrop web site being unavailable. Further, AFINIT assumes no
			responsibility for the corruption of any data or information held by
			AFINIT.
		</li>
		<li>
			AFINIT provides no warranty or guarantee for the accuracy of information
			provided by Swapacrop customers or sellers.
		</li>
	</ul>
	<p>Selling</p>
	<p>
		If you are offering items for sale on the Swapacrop Marketplace you agree
		that:
	</p>
	<ul>
		<li>
			You are legally entitled to sell the items you are offering for sale;
		</li>
		<li>You will provide a tracking link for items that you deliver.</li>
		<li>Your item description is accurate and complete</li>
		<li>
			The inventory information for items listed for sale is accurate at all
			times.
		</li>
		<li>
			The item you are selling matches exactly the product listed on Swapacrop;
		</li>
		<li>
			Your item description is not inaccurate, misleading, dishonest or
			fraudulent;
		</li>
		<li>
			Your item description or item for sale does not Infringe any third
			party&apos;s copyright, patent, trademark, trade secret or other
			proprietary rights;
		</li>
		<li>
			You are in possession of the item that you are selling or can facilitate
			delivery by the date indicated;
		</li>
		<li>
			Your item descriptions will not include references to other web sites
			where similar items are offered for sale, or contact details are provided
			for a seller of similar items;
		</li>
		<li>
			The price of the product on Swapacrop should not be higher than the price
			elsewhere.
		</li>
		<li>All products are subject to approval.</li>
		<li>
			Items that can be sold include locally grown and produced items. No
			imported items, alcoholic beverages or prescription drugs may be sold.
		</li>
		<li>You will comply with the Swapacrop Disputes Resolution process;</li>
		<li>
			Joining Swapacrop Marketplace as a Seller and posting items for sale is
			free. We retain a proportion of each sale in the form of a commission,
			which starts at 12.5%, this amount may change at any time, but you will be
			informed if any changes are made.
		</li>
		<li>
			Commission is deducted if an item successfully sells and are only
			refundable if the buyer cancels their order.
		</li>
		<li>
			Credit card processing fees of 7.9% and withdrawal fees of 2.5% will also
			be deducted from each sale.
		</li>
		<li>Our fees and commissions are payable on demand.</li>
		<li>
			You irrevocably authorise us to deduct them from sums paid to us by your
			buyer.
		</li>
		<li>
			We will pay you within 5-10 business days of delivery of an order
			(depending on how long it takes for payments made on the website to reach
			our accounts).
		</li>
		<li>
			If an action by a buyer results in a charge back to our account, you agree
			that we may deduct the sum charged back together with any fee paid to our
			service provider and bank, from any sum due to you, at or after that time.
		</li>
		<li>
			If you or we accept any cancellation and consequently refund money to a
			customer for any reason, we are not obliged to repay commission to you.
		</li>
		<li>
			That payment for your items will be made by way of credit to payment
			provider on your behalf.
		</li>
		<li>
			The price of the product must include all taxes and comply with applicable
			laws in force
		</li>
		<li>
			You must not interfere with a transaction by: (i) contacting another user
			to buy or sell an item listed on the marketplace outside of the
			marketplace; or (ii) communicate with a user in an active or completed
			transaction to warn them away from a particular seller, buyer, or item; or
			(iii) contact a customer with the intent to collect payments.
		</li>
		<li>
			You grant to us worldwide, irrevocable, non-exclusive, royalty-free
			license to use, reproduce, store, adapt, publish, translate and distribute
			your content across our marketing channels and any existing or future
			media.
		</li>
	</ul>
	<p>Buying</p>
	<p>When buying an item on the Swapacrop Marketplace you agree that:</p>
	<p>
		You warrant that you have the legal right to enter into and complete the
		transaction; Your &ldquo;Checkout&rdquo; is an irrevocable offer to buy the
		item; You agree to Swapacrop&apos;s Disputes Resolution process.
	</p>
	<!--<p>
		All orders incur a processing fee of $0.50 + 7.5% of total price in order to cover
		third party transaction costs.
	</p>-->
	<p>Dispute resolution</p>
	<p>
		If as a buyer you fail to receive an item, a dispute will be opened and
		resolved as per the following:
	</p>
	<p>
		Resolution will be in the buyer&apos;s favour if the following conditions
		are met:
	</p>
	<ul>
		<li>The Buyer selected Delivery as delivery method</li>
		<li>The Buyer provided a valid delivery address; and</li>
		<li>
			The Seller/Swapacrop is unable to provide valid tracking information that
			shows an attempted delivery to the buyer&apos;s delivery address.
		</li>
	</ul>
	<p>
		A resolution in the buyer&apos;s favour will result in a full refund to the
		buyer. Payment for the item will not be made to the seller.
	</p>
	<p>
		Resolution will be in the seller&apos;s favour if the following conditions
		are met:
	</p>
	<ul>
		<li>The Buyer did not select Delivery as a delivery method.</li>
		<li>
			The Seller/Swapacrop delivered using tracking link and can provide a valid
			&ldquo;track and trace&rdquo; that shows delivery to the buyer&apos;s
			delivery address.
		</li>
	</ul>
	<p>
		A result in the sellers favor will result in payment of the item (minus
		commission/fees). The buyer will not receive a refund.
	</p>
	<p>
		Consumers have a right to obtain a refund from a business for goods
		purchased if the goods are faulty, not fit for purpose or don&apos;t match
		the description.
	</p>
	<p>A dispute will be opened for all buyer requests for refund.</p>
	<p>You agree that you will:</p>
	<ul>
		<li>
			Try your best to reply to the buyer within 24 hours to any return claims
			or disputes, if a resolution cannot be obtained within 72 hours, Swapacrop
			Marketplace will have to step in to find a solution;
		</li>
		<li>
			In the event that a Product ordered is not available, you must immediately
			provide this information to us and cancel the order.
		</li>
		<li>
			Items must be inspected by the buyer, once an items is delivered and/or
			buyer takes possession of an item the sale is final and cannot be
			refunded. &nbsp;Neither the seller nor AFINIT is responsible for an item
			once it has been delivered.
		</li>
	</ul>
	<p>
		All disputes in favor of the buyer will result in return
		delivery/replacement charge payable by the vendor. Refunds will be credited
		to your original payment method.
	</p>
	<p>Security</p>

	<ul>
		<li>
			You must not use the Swapacrop website in any way that is unethical,
			unlawful, illegal, fraudulent or harmful; hack or otherwise tamper with
			our website; probe, scan or test vulnerability of our website without our
			permission.
		</li>
		<li>
			If you register for an account with the Swapacrop marketplace you will be
			asked to provide an email address/user ID and password and you agree to:
		</li>
		<li>Keep your password confidential</li>
		<li>
			Notify us in writing immediately if you become aware of any disclosure of
			your password
		</li>
		<li>
			Be responsible for for any activity on the Swapacrop marketplace arising
			out of any failure to keep your password confidential
		</li>
		<li>
			Your account shall be used exclusively by and and you must not transfer
			your account to any third party. If you authorize any third party to
			manage your account on your behalf this shall be at your own risk.
		</li>
	</ul>

	<p>Due Diligence</p>

	<ul>
		<li>
			We operate an anti-money laundering compliance program and reserve the
			right to perform due diligence checks on all users of the marketplace.
		</li>
		<li>
			You agree to provide to us all such information we may require in order to
			verify your adherence to and performance of your obligations under the
			Agreement
		</li>
	</ul>

	<p>Non-compliance</p>
	<p>
		If you do not comply with these terms and conditions, AFINIT, may, without
		notice or warning, limit your activities on the Swapacrop web site by
		removing your listings, issuing a warning, or suspending or terminating your
		account. If in our discretion we believe that your performance as a seller
		results in a significant number of charges back and / or buyer disputes or
		if we believe you are in breach of this agreement, we are free to hold back
		payments to you until we are satisfied that disputes have been settled and /
		or breach rectified.
	</p>
	<p>Copyright and other intellectual property rights</p>
	<p>
		All content on the Swapacrop Website, is the property of either us, our
		affiliates or suppliers of products for sale. It is all protected by
		international copyright laws. You may not copy, modify, publish, transmit,
		create derivative works from, or in any way exploit any of the content,
		except as is expressly permitted in this agreement or with our written
		consent. For the sake of good order you should note that copyright exists in
		compilations and graphic images, shapes and styles, as well as in raw text.
	</p>
	<p>Indemnification</p>
	<p>
		Seller shall indemnify, defend, and hold and save AFINIT, the Swapacrop
		Marketplace, and its respective officers, directors, agents and employees
		(together, the &ldquo;Indemnified Parties&rdquo;), harmless from any and all
		claims, suits, demands, debts, undertakings or proceedings of any kind or
		nature, whether meritorious or frivolous, in any way arising out of the
		Vendor&rsquo;s use of the Space, including liability caused in whole or in
		part by the Indemnified Parties. Vendor shall, at its own expense, appear,
		defend, and pay all attorneys&rsquo; fees and all costs and other expenses
		arising therefrom or incurred in connection therewith; and, if any judgment
		shall be rendered against the Indemnified Parties in any such action, Vendor
		shall, at its own expense, satisfy and discharge same.
	</p>
	<p>We may update these terms at any time.</p>
</div>
